.container {
	position: relative;
	text-align: center;
	color: black;
}

.text-1 {
    font-size: 3vw;
}

.text-2 {
    margin-top: 15px;
    font-size: 2vw;
}
.image {
	width: 100%;
}
.centered {
	position: absolute;
	top: 30%;
	left: 20%;
    transform: translate(-50%, -50%);
    width: 30vw;
   text-align: left;
}

.trail-button {
    position: absolute;
	bottom: 10%;
	left: 15%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 30px;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 2vw;
}

.bamboo-pic {
position: relative;
width: 100%;

}

.bamboo-pic-content {
    color: white;
    position: absolute;
top:50%;
left: 30%;
width: 400px;
}

.pads {
    display: inline;
}
.pad-detail {
    float: left;
    /* position: relative; */
    /* width: 200px; */
}

.pad-in-hand {
    float: right;
    /* position: relative; */
    /* width: 200px; */
}

.pad-detail-info {
    position: absolute;
    top: 50%;
}

.pad-in-hand-info {
    position: absolute;
    top: 50%;
}
.pad-img {
    width: 500px;
}