.container {
	position: relative;
	text-align: center;
	color: black;
}

.text-1 {
	font-size: 3vw;
}

.text-2 {
	margin-top: 15px;
	font-size: 2vw;
}
.image {
	width: 100%;
}
.centered {
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 30vw;
	text-align: left;
}

.trail-button {
	position: absolute;
	bottom: 10%;
	left: 15%;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: 30px;
	padding: 10px;
	background-color: salmon;
	color: white;
	font-size: 2vw;
}

.bamboo-pic {
	margin: 30px;
	position: relative;
	width: 95%;
}

.bamboo-pic-content {
	color: white;
	position: absolute;
	top: 25%;
	left: 35%;
	width: 30vw;
}

.pads {
	display: flex;
	align-items: flex-end;
	margin: 10px;
}

.pad-detail-info {
	position: absolute;
	top: 30%;
	left: 5%;
	width: 20vw;
	text-align: left;
}

.pad-in-hand-info {
	position: absolute;
	top: 20%;
	right: 15%;
	width: 30vw;
	text-align: left;
}
.pad-img {
	width: 95%;
}

.text-3 {
	font-size: 3vw;
}

.text-4 {
	margin-top: 3vh;
	font-size: 1.2vw;
}

.text-5 {
	margin-bottom: 2vh;
	width: 14vw;
}

.products {
	display: flex;	
	
}

.product {
	width: 90%;

}

.product-div {
	margin: 10px;
}

.shop-now-button {
	text-align: center;
	float: center;
	width: 20vw;
	height: 30px;
	padding: 10px;
	background-color: salmon;
	color: white;
	font-size: 2vw;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 40%;;
}

.press-quotes-div {
	position: absolute;
	width: 30vw;
}
.press-quotes {
	width: 100%;
}